@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");



@font-face { font-family: SNES-Italic; src: url('fonts/SnesItalic-1G9Be.ttf'); } 

@font-face { font-family: Sinhala Sangam MN; src: url('fonts/Sinhala\ Sangam\ MN.ttc'); } 


@font-face {
    font-family: 'Menlo Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Menlo Regular'), url('fonts/Menlo-Regular.woff') format('woff');
    }


    

/* Containers */

.container {
    margin-left: auto;
    margin-right: auto;
}

.container.\31 25\25 {
    width: 100%;
    max-width: 56.25em;
    min-width: 45em;
}

.container.\37 5\25 {
    width: 33.75em;
}

.container.\35 0\25 {
    width: 22.5em;
}

.container.\32 5\25 {
    width: 11.25em;
}

.container {
    width: 45em;
}

#content {
    width: 400px;
    margin: 0 auto;
    background-color: #66ffff;
}

.body{
    background-color:#001429;
}

.bg-dark {
    background-color: #001429 !important;
}

.main{
    background-color: #001429 !important;
    background-size: cover;
    display: table;
    width: 100%;
    height: 100%;

}
.card_blue .card{
    background-color:#001429;
  }

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    margin-top:10px;
    margin-bottom:10px;
    background-color:#FFF;
  }
  
  .card:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .card > .card-inner {
    padding:10px;
  }
  .card .header h2, h3 {
    margin-bottom: 0px;
    margin-top:0px;
  }
  .card .header {
    margin-bottom:5px;
  }
  .card img{
    width:100%;
  }

.p-font{
    font-family: Menlo Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: -0.09px;
    line-height: 23px;
    margin-right: auto;
    padding: 5px;
}

.header .footer {
    background-color: #001429 !important;

}

.header{
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #001429 !important;

  
}

.h_iframe iframe {
    width:100%;
    height:100%;
}
.h_iframe {
    height: 100%;
    width:100%;
}

.box_frame { display:inline-block; }


.profile_img {
  border: 5px solid #979797;
  width: 100px;
  height: 100px;
  scale: 25%;
  margin-left: 16px;
  border-radius: 50%;
}

.navbar-brand{
 font-family: SNES-Italic;
 font-size: 52px;
 margin-left: 36px;

}

.nav-item{
    font-family: Menlo Regular;

}

.title-section{
    align-self: center;
    font-family: Sinhala Sangam MN;

}

/* List */
ol {
    list-style: decimal;
    margin: 0 0 2.25em 0;
    padding-left: 1.25em;
}

    ol li {
        padding-left: 0.25em;
    }

ul {
    list-style: disc;
    margin: 0 0 2.25em 0;
    padding-left: 1em;
}

    ul li {
        padding-left: 0.5em;
    }

    ul.alt {
        list-style: none;
        padding-left: 0;
    }

        ul.alt li {
            border-top: solid 2px #f4f4f4;
            padding: 0.5em 0;
        }

            ul.alt li:first-child {
                border-top: 0;
                padding-top: 0;
            }

    ul.feature-icons {
        list-style: none;
        padding-left: 0;
    }

        ul.feature-icons li {
            text-decoration: none;
            display: inline-block;
            margin: 0 0 1.6875em 0;
            padding: 0.35em 0 0 3.5em;
            position: relative;
            vertical-align: top;
            width: 48%;
        }

            ul.feature-icons li:before {
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-transform: none !important;
            }

            ul.feature-icons li:before {
                background:  #1a76ff;
                border-radius: 100%;
                color: #ffffff;
                display: block;
                height: 2.5em;
                left: 0;
                line-height: 2.5em;
                position: absolute;
                text-align: center;
                top: 0;
                width: 2.5em;
            }

    ul.icons {
        cursor: default;
        list-style: none;
        padding-left: 0;
    }

        ul.icons li {
            display: inline-block;
            padding: 0 1em 0 0;
        }

            ul.icons li:last-child {
                padding-right: 0 !important;
            }

            ul.icons li .icon:before {
                font-size: 1.25em;
            }

    ul.actions {
        cursor: default;
        list-style: none;
        padding-left: 0;
    }

        ul.actions li {
            display: inline-block;
            padding: 0 1.125em 0 0;
            vertical-align: middle;
        }

            ul.actions li:last-child {
                padding-right: 0;
            }

        ul.actions.small li {
            padding: 0 0.5625em 0 0;
        }

        ul.actions.vertical li {
            display: block;
            padding: 1.125em 0 0 0;
        }

            ul.actions.vertical li:first-child {
                padding-top: 0;
            }

            ul.actions.vertical li > * {
                margin-bottom: 0;
            }

        ul.actions.vertical.small li {
            padding: 0.5625em 0 0 0;
        }

            ul.actions.vertical.small li:first-child {
                padding-top: 0;
            }

        ul.actions.fit {
            display: table;
            margin-left: -1.125em;
            padding: 0;
            table-layout: fixed;
            width: calc(100% + 1.125em);
        }

            ul.actions.fit li {
                display: table-cell;
                padding: 0 0 0 1.125em;
            }

                ul.actions.fit li > * {
                    margin-bottom: 0;
                }

            ul.actions.fit.small {
                margin-left: -0.5625em;
                width: calc(100% + 0.5625em);
            }

                ul.actions.fit.small li {
                    padding: 0 0 0 0.5625em;
                }

dl {
    margin: 0 0 2.25em 0;
}
