@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");


@font-face { font-family: SNES-Italic; src: url('fonts/SnesItalic-1G9Be.ttf'); } 

/* Containers */

.container {
    margin-left: auto;
    margin-right: auto;
}

.container.\31 25\25 {
    width: 100%;
    max-width: 56.25em;
    min-width: 45em;
}

.container.\37 5\25 {
    width: 33.75em;
}

.container.\35 0\25 {
    width: 22.5em;
}

.container.\32 5\25 {
    width: 11.25em;
}

.container {
    width: 45em;
}

.body{
    background-color:#001429;
    color: white;
}

.bg-dark {
    background-color: #001429 !important;
}

.main{
    background-color: #001429 !important;

}

.p-font{
    border: 1px solid #979797;
    font-family: Menlo-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: -0.09px;
    line-height: 23px;
}

.header {
    background-color: #001429 !important;

}

.profile_img {
  border: 1px solid #979797;
  width: 100px;
  height: 100px;
}

.navbar-brand{
 font-family: SNES-Italic;
 font-size: 64px;
}