@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");


/* Containers */

.container {
    margin-left: auto;
    margin-right: auto;
}

.container.\31 25\25 {
    width: 100%;
    max-width: 56.25em;
    min-width: 45em;
}

.container.\37 5\25 {
    width: 33.75em;
}

.container.\35 0\25 {
    width: 22.5em;
}

.container.\32 5\25 {
    width: 11.25em;
}

.container {
    width: 45em;
}

.body{
    background-color:#001429;
}

.bg-dark {
    background-color: #001429 !important;
}